<%= form_for(@income, :html => { :multipart => true }) do |f| %>
  <% if income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(income.errors.count, "error") %> prohibited this income from being saved:</h2>

      <ul>
      <% income.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :category_id, class: 'font-fira' %>
    <%= f.collection_select(:category_id, IncomeCategory.where(user: current_user), :id, :category_name, {prompt: "choose a category"},
         {class:"form-control dropdown-toggle font-fira"}) %>
  </div>
  <%= link_to 'Add New Income Category', new_income_category_path %>
  <br/><br/><br/>

  <div class="form-group">
    <%= f.label :amount, class: 'font-fira' %>
    <%= f.number_field :amount, class: 'form-control font-fira' %>
  </div>
  <br/>

  <div class="form-group">
    <%= f.label :date, class: 'font-fira' %>
    <%= f.date_field :date, class: 'form-control font-fira' %>
  </div>
  <br/>

  <div class="actions">
    <%= f.submit class: 'btn btn-default form-control' %>
  </div>
<% end %>
