<% if IncomeCategory.where(user: current_user).present? %>

  <hr>
  <h4 class="font-fira-m">Income Record History</h4>
  <hr>

  <% if IncomeCategory.where(user: current_user).count > 1 %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle font-fira" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse Incomes by Category<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Browse All', incomes_path, class: 'font-fira' %></li>
        <li role="separator" class="divider"></li>
        <% IncomeCategory.where(user: current_user).each do |income_category| %>
         <li><%= link_to income_category.category_name, incomes_path(income_category: income_category.category_name), class: 'font-fira' %></li>
        <% end %>
      </ul>
    </li>
  <% else %>
    <h4 class="font-fira">All Income Records</h4>
  <% end %>

  <hr>

  <table class="table table-hover">
    <thead>
      <tr class="font-fira-m">
        <th class="text-center">Amount</th>
        <th class="text-center">Recorded On</th>
        <th class="text-center">Income Category</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @incomes.each do |income| %>
        <tr class="font-fira text-center">
          <td><b><%= income.amount %></b></td>
          <td><%= income.date.strftime("%d %B %Y") %></td>
          <td><%= link_to IncomeCategory.find(income.category_id).category_name, income_category_path(income.category_id), class: 'font-fira-l' %></td>
          <td><%= link_to 'Edit', edit_income_path(income) %></td>
          <td><%= link_to 'Destroy', income, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Add New Income Record', new_income_path, class: 'btn btn-default form-control' %>

<% else %>
 <%= render 'incomes/details' %>
<% end %>
