<hr>
<h4 class="font-fira-m">Income Record History</h4>
<hr>

<table class="table table-hover">
  <thead>
    <tr class="font-fira-m">
      <th>Amount</th>
      <th>Date</th>
      <th>Income Category</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @incomes.each do |income| %>
      <tr class="font-fira">
        <td><%= income.amount %></td>
        <td><%= income.created_at %></td>
        <td>Income Category</td>
        <td><%= link_to 'Edit', edit_income_path(income) %></td>
        <td><%= link_to 'Destroy', income, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Income Record', new_income_path, class: 'btn btn-default form-control' %>
