<% if @income_categories.present? %>
  <hr>
  <h3 class="font-fira-m">Income Categories</h3>
  <hr>

  <table class="table table-hover">
    <thead>
      <tr class="font-fira-m">
        <th class="text-center">Category name</th>
        <th class="text-center">Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @income_categories.each do |income_category| %>
        <tr class="font-fira text-center">
          <td><b><%= income_category.category_name %><b></td>
          <td><%= truncate(income_category.description, length:80) %>....</td>
          <td><%= link_to 'Show', income_category %></td>
          <td><%= link_to 'Edit', edit_income_category_path(income_category) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br/>

  <%= link_to 'Add New Income Category', new_income_category_path, class: 'btn btn-default form-control' %>
<% else %>
  <%= render 'income_categories/details' %>
<% end %>
