<%= form_for(expense) do |f| %>
  <% if expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :amount, class: 'font-fira' %>
    <%= f.number_field :amount, class: 'form-control font-fira' %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-default form-control' %>
  </div>
<% end %>
