<hr>
<h3 class="font-fira-m">Expenses Record History</h1>
<hr>

<table class="table table-hover">
  <thead>
    <tr class="font-fira-m">
      <th>Amount</th>
      <th>Date</th>
      <th>Expense Category</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr class="font-fira">
        <td><%= expense.amount %></td>
        <td><%= expense.created_at %></td>
        <td>Expense Category</td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Expense Record', new_expense_path, class: 'btn btn-default form-control' %>
